.App {
  display: flex;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background: #DAE1EA;
  width: 100%git;
  padding-top: 12.5px;

  @media only screen and (min-width: 768px) {
    width: 500px;
  } 
}